
@Blue: #0067AC;

.search-box {
    width: 70%;
    padding: 2px;
    border: 1px solid lightgrey;
    font-size: 15px;
    background: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    .searchbox-chip {
        flex: 0 0 auto;
        margin-right: 4px!important;

        div[type=button] { /* Chips */
            margin-right: 5px!important;
            width:auto!important;   /* IE11 fix */
            display: inline-block!important; 
            span {
                position: relative;
                top: -6px;
            }
        }
        &.searchbox-chip-default {
            opacity: 0.6;
        }
    }

    .searchbox-input-area {
        flex: 1 0 auto;
        display: flex;
        align-items: center;
        min-width: 300px;
        min-height: 32px;
        .searchbox-icon-wrapper {
            flex: 0 0 auto;
            display: flex;
            align-items: center;
        }
        .searchbox-input-wrapper {
            position: relative;
            flex: 1 1 auto;
            display: inline-block;
            width: 100%;
            input {
                overflow: hidden;
                padding-left: 5px;
                width: 100%;
                height: 100%;
                border: 0;
                background: transparent;
            }
            .searchbox-autocomplete {
                position: absolute;
                width: 100%;
            }
        }
    }


    .icon {
        flex: 0 0 auto;
        margin: 5px;
        cursor: pointer;
        width: 20px;
        svg {
            fill:@Blue!important;
        }
        span.fa {
            color: @Blue !important;
        }
    }




}


    // adjust style for flatpickr calendar

    .flatpickr-calendar {   /* fix formatting of week days header */
      white-space: nowrap;  
    }
  
    .flatpickr-input {
        visibility: hidden;
    }


    /* Remove arrow */
    .flatpickr-calendar.arrowTop:before {
         border: 0;
    }
    .flatpickr-calendar.arrowTop:after {
         border: 0;
    }
