


.columns-picker-dialog {

    hr {
        clear: both;
        margin: 20px 0px;
    }

    .block-list-source {
        margin-bottom: 30px;
        padding: 2px 10px;
        clear: both;
    }

    .block-list-source li {
        display: inline-block;
        border: 1px solid lightgrey;
        float: left;
        padding: 2px 15px;
        margin-right: 2px;
        cursor: pointer;
    }

    .block-list-target {
        background-color: #eee;
        padding: 8px 10px 2px 10px;
    }

    .block-list-target li {
        display: inline-block;
        border: 1px solid grey;
        padding: 2px 15px;
        margin-right: 2px;
        margin-bottom: 4px;
        cursor: pointer;
        background-color: #eee;
    }

}