.metadata-fieldset-columns {
    .metadata-fieldset-title {
        display: none;
    }
    .metadata-fieldset-label{
        padding-right: 1em;
        display: inline;
    }
    .metadata-fieldset-field {
        display: inline-block;
    }
}

.metadata-fieldset-1-column .metadata-fieldset-field {
    width: 100%;
}

.metadata-fieldset-2-column .metadata-fieldset-field {
    width: 50%;
}

.metadata-fieldset-3-column .metadata-fieldset-field {
    width: 33.333%;
}
